.results {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-medium-large);
}

@media screen and (min-width: 550px) {
    .results {
        grid-area: results;
    }
}

.articles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap-medium-large);
}

@media screen and (min-width: 1000px) {
    .articles {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-medium-large);
    }
}

.no-results {
    font-size: var(--font-size-medium);
    line-height: 5rem; 
    text-align: center;
    background-color: var(--color-white-transparent-high);
    padding: 0 var(--gap-large-medium);
    border-radius: 20px;
    grid-column: 1 / span 2;
    margin: 0 auto;
}
