.app {
    display: grid;
    padding: var(--padding-medium-large) 0;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, 1rem);
    row-gap: var(--gap-medium-large);
    margin: 0 auto;
    min-height: 100vh;
}

@media screen and (min-width: 701px) {
    .app {
        grid-template-columns: 320px 1fr;
        grid-template-areas:
            "sidebar title"
            "sidebar results";
    }
}

@media screen and (min-width: 1520px) {
    .app {
        max-width: 1600px;
    }
}

.page-title {
    font-family: "Merriweather", serif;
    font-size: clamp(var(--font-size-medium-small),
        var(--font-size-page-title-dynamic),
        var(--font-size-large));
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    letter-spacing: 0.03em;
}

@media screen and (min-width: 701px) {
    .page-title {
        grid-area: title;
        line-height: 3rem;
    }
}

@media screen and (min-width: 1100px) {
    .page-title {
        line-height: 6rem;
    }
}

@media screen and (min-width: 1520px) {
    .page-title {
        line-height: 9rem;
    }
}

.search-phrase {
    display: inline-block;
}