.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-medium-medium);
}

.spinner-text {
    font-size: var(--font-size-medium);
}

.spinner-svg {
    width: 100px;
    height: 100px;
    filter: invert(17%) sepia(1%) saturate(4631%) hue-rotate(178deg) brightness(98%) contrast(88%);
}