.sections-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 var(--padding-medium-large);
}

.sections-item {
    width: 100%;
    text-align: left;
    font-size: var(--font-size-main);
    letter-spacing: 0.01em;
    list-style-type: none;
    padding: var(--padding-small-large) var(--padding-medium-medium);
    border: none;
    border-bottom: 2px solid var(--color-bg-darker);
    cursor: pointer;
    transition: 200ms cubic-bezier(.22, .61, .36, 1);

    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &:hover,
    &:active,
    &:focus {
        font-weight: bold;
    }

    &[data-selected="true"] {
        font-weight: bold;
    }
}

.sections-btn {
    display: flex;
    font-weight: bold;
    line-height: 1.125em;
    justify-content: center;
    gap: 1ch;
    background-color: var(--color-bg-dark);
    border: 2px solid var(--color-btn);
    border-radius: 999px;
    color: var(--color-text-main);

    &:hover,
    &:active,
    &:focus-visible {
        background-color: var(--color-bg-darker);
    }
    
    &:focus-visible {
        outline: var(--color-focus);
    }
}

.sections {
    z-index: 999;
    background: var(--color-bg);
    position: absolute;
    width: 100%;
    transition: all 300ms ease-in;
    display: flex;
    flex-flow: column;
    gap: var(--gap-small-large);
    left: 0;
    right: 0;
    padding: 0 var(--padding-medium-large);

    &[data-iscollapsed="true"] {
        transform: translateX(-120%);
    }

    &:before,
    &:after {
        content: "";
        height: 2px;
        border-radius: 2px;
        margin: 0px var(--gap-medium-large);
        display: block;
    }

    &:before {
        transform: translateY(calc(var(--gap-small-large) / 2));
    }

    &:after {
        transform: translateY(calc(var(--gap-small-large) / -2));
    }
}

@media screen and (min-device-width: 480px) {
    .sections {
        transition: 0ms;

        &[data-iscollapsed="true"] {
            background: none;
        }
    }
}

@media screen and (min-width: 701px) {
    .sections-btn {
        display: none;
    }

    .sections {
        background: none;
        position: initial;
        padding: 0 0;

        &[data-iscollapsed="true"] {
            transform: translateX(0%);
        }

        &:before,
        &:after {
            content: "";
            height: 2px;
            border-radius: 2px;
            display: none;
            margin-bottom: var(--margin-small);
        }
    }
}