.form {
    margin-bottom: var(--gap-medium-small);
    display: flex;
    flex-flow: column;
    gap: var(--gap-medium-small);
}

.form-panel {
    display: flex;
    flex-flow: row nowrap;
    // margin-bottom: var(--gap-medium-medium);
    gap: var(--gap-medium-medium);
}

input[type="text"] {
    color: inherit;

    outline: none;
}

input[type="submit"] {
    cursor: pointer;
    outline: inherit;

}

input[type="reset"] {
    cursor: pointer;
    outline: inherit;
}

.form-search {
    letter-spacing: 0.01em;
    display: inline-block;
    border-radius: 999px;
    font-size: var(--font-size-main);
    font-weight: bold;
    padding: var(--gap-small-large) var(--gap-medium-medium) var(--gap-small-large) var(--gap-large-small);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: var(--color-black);
    width: 100%;
    border: 2px solid var(--color-white-transparent-high);
    transition: 200ms cubic-bezier(.22, .61, .36, 1);
    background: var(--color-white-transparent-high) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%2379808b' d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;

    -webkit-box-shadow: 0px 14px 27px -13px var(--color-paper-shadow),
        inset 0px -14px 27px -13px var(--color-paper-light);
    -moz-box-shadow: 0px 14px 27px -13px var(--color-paper-shadow),
        inset 0px -14px 27px -13px var(--color-paper-light);
    box-shadow: 0px 14px 27px -13px var(--color-paper-shadow),
        inset 0px -14px 27px -13px var(--color-paper-light);

    &::placeholder {
        color: var(--color-light-grey);
    }

    &:hover,
    &:active,
    &:focus {
        border: 2px solid var(--color-blue);
    }
}

.form-submit {
    letter-spacing: 0.01em;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 999px;
    font-size: var(--font-size-main);
    font-weight: bold;
    padding: var(--gap-small-large) var(--gap-medium-medium);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    width: min-content;
    border: 2px solid var(--color-blue);
    transition: 200ms cubic-bezier(.22, .61, .36, 1);

    -webkit-box-shadow: 0px 14px 27px -13px var(--color-paper-shadow);
    -moz-box-shadow: 0px 14px 27px -13px var(--color-paper-shadow);
    box-shadow: 0px 14px 27px -13px var(--color-paper-shadow);

    &:hover,
    &:active,
    &:focus {
        background-color: var(--color-white-transparent-high);
        color: var(--color-blue);
    }
}

.form-reset {
    letter-spacing: 0.01em;
    border-radius: 999px;
    font-size: var(--font-size-main);
    font-weight: bold;
    padding: var(--gap-small-large) var(--gap-medium-medium);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-color: var(--color-white-transparent-high);
    color: var(--color-blue);
    width: 100%;
    transition: 200ms cubic-bezier(.22, .61, .36, 1);
    border: 2px solid var(--color-white-transparent-high);

    appearance: none;
    -webkit-appearance: none;

    -webkit-box-shadow: 0px 14px 27px -13px var(--color-paper-shadow),
        inset 0px -14px 27px -13px var(--color-paper-light);
    -moz-box-shadow: 0px 14px 27px -13px var(--color-paper-shadow),
        inset 0px -14px 27px -13px var(--color-paper-light);
    box-shadow: 0px 14px 27px -13px var(--color-paper-shadow),
        inset 0px -14px 27px -13px var(--color-paper-light);

    &:hover,
    &:active,
    &:focus {
        border: 2px solid var(--color-blue);
    }
}