.sidebar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

@media screen and (min-width: 661px) {
    .sidebar {
        grid-area: sidebar;
        justify-content: flex-start;
    }
}