*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-white: rgb(255, 255, 255);
    --color-white-transparent: rgb(255, 255, 255, 0.4);
    --color-paper-start: #f2edec;
    --color-paper-end: #E6DDDB;
    --color-blue: #052962;
    --color-black: #31353b;
    --color-dark-grey: #444950;
    --color-light-grey: #79808b;

    --font-size-small: 14px;
    --font-size-main: 16px;
    --font-size-medium: 22px;
    --font-size-large: 64px;

    --gap-small-small: 5px;
    --gap-small-large: 10px;
    --gap-medium-small: 15px;
    --gap-medium-medium: 20px;
    --gap-medium-large: 24px;
    --gap-large-small: 40px;
    --gap-large-medium: 60px;
    --gap-large-large: 100px;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: var(--color-black);
    background-color: var(--color-paper-start);
    // background: rgb(205,186,182);
    background: linear-gradient(160deg,
            var(--color-paper-end) 0%,
            var(--color-paper-start) 5%,
            var(--color-paper-start)95%,
            var(--color-paper-end) 100%);

}

.app {
    max-width: 1600px;
    display: grid;
    padding: var(--gap-medium-large);
    grid-template-columns: repeat(12, minmax(100px, 1fr));
    grid-template-rows: auto 100% auto;
    // padding: var(--gap-large-large) var(--gap-large-medium);
    gap: var(--gap-medium-large);
    // max-height: 100vh;
    // margin: 0 24px 0 24px;
    margin: 0 auto;
    min-height: 100vh;
}

.sidebar {
    grid-column: 1 / 3;
    grid-row: 1/3;
    // padding: var(--gap-large-medium) 0;

    // border-right: 2px solid var(--color-white);
    // border-radius: 2px;
    // box-shadow: inset 5px 5px 9px #ebe6e5,
    // inset -5px -5px 9px #f9f4f3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

//__
//__CATEGORIES
//__ 

// .categories {
//     background-color: antiquewhite;
// }
.main-category {
    border-radius: var(--gap-small-large);
    font-size: var(--font-size-main);
    padding: var(--gap-small-large) var(--gap-medium-medium);
    list-style-type: none;
    margin-bottom: var(--gap-small-large);
    background-color: var(--color-white);
    width: 100%;
    border: 2px solid var(--color-white);
    transition: 200ms cubic-bezier(.22, .61, .36, 1);
    cursor: pointer;

    &:hover,
    &:focus {
        border: 2px solid var(--color-dark-grey);
        color: var(--color-dark-grey);
        font-weight: bold;
    }

    &[data-selected="true"] {
        background-color: var(--color-white-transparent);
        font-weight: bold;
    }
}

//__
//__RESULTS
//__
.results {
    grid-column: 3 / 13;
    grid-row: 1/3;
    // display: flex;
    // flex-flow: column nowrap;
    // align-items: center;
    // gap: var(--gap-large-small);
    // position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium-large);
}

.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(5, 1fr);
    // flex-flow: row wrap;
    // justify-content: flex-start;
    gap: var(--gap-medium-large);
    // margin-left: var(--gap-medium-large);
    // padding: var(--gap-medium-large);
}

.no-results {
    font-size: var(--font-size-medium);
    grid-column: 1/3;
    line-height: 5rem; 
    text-align: center;
    border: 2px solid var(--color-dark-grey);
    padding: 0 var(--gap-large-medium);
    border-radius: 20px;
    grid-column: 1 / span 2;
    margin: 0 auto;
}

.card {
    border-radius: var(--gap-small-large);
    background-color: var(--color-white);
    // max-width: 32ch;
    // max-width: 40ch;
    padding: var(--gap-large-small);
    // display: flex;
    display: grid;
    grid-template-rows: 2rem min-content 1fr 2rem;
    // flex-flow: column nowrap;
    // justify-content: space-between;
    gap: var(--gap-medium-medium);
    text-decoration: none;
    // border-right: 2px solid var(--color-white);
    // border-radius: 2px;
    // border-radius: 10px;
    // background: #f2edec;
    // box-shadow: inset 5px 5px 9px #ebe6e5,
    // inset -5px -5px 9px #f9f4f3;
    cursor: pointer;
}

.card-title {
    font-family: 'Merriweather', serif;
    font-size: var(--font-size-medium);
    color: var(--color-black)
}

.card-text {
    font-size: var(--font-size-main);
    color: var(--color-dark-grey);
}

.card-info {

    font-size: var(--font-size-small);
    color: var(--color-light-grey);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;


    &-tag {
        font-weight: bolder;
    }

    &-date {
        font-weight: normal;
    }

    &-author {
        // font-size: var(--font-size-main);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        text-decoration: none;
        width: 10ch;
        gap: 7px;
        color: var(--color-blue);

        &:hover {
            text-decoration: underline;
            // font-weight: bold;
        }

        &:visited {
            color: var(--color-blue);
        }
    }

    &-link {
        color: var(--color-blue);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            // font-weight: bold;
        }

        &:visited {
            color: var(--color-blue);
        }
    }
}

//__
//__ CARD GRAPHICS
//__
.avatar {
    width: 35px;
    height: 35px;
    border-radius: 999px;
}

.arrow-right {
    // filter:blur(50%);
    padding: 0 0 0 5px;
    width: 20px;
    // transform: translateY(20%);
}

.pagination {
    display: flex;
    gap: var(--gap-small-large);
    justify-content: center;
}

.pagination-btn {
    display: block;
    border-radius: var(--gap-small-large);
    padding: var(--gap-small-large) var(--gap-medium-small);
    background-color: var(--color-white);
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--color-white);
    cursor: pointer;
    min-width: 12ch;
}

.pagination-btn:link,
.pagination-btn:visited {
    color: var(--color-dark-grey);
}

.pagination-btn:hover,
.pagination-btn:active {
    // color: var(--color-light-grey);
    font-weight: bold;
}

.pagination-btn::before {
    overflow: hidden;
    visibility: hidden;
    content: attr(data-title);
    height: 0;
    margin-top: -1px;
    display: block;
    font-weight: bold;
}

.pagination-list {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--gap-small-small);
}

.pagination-list-item {
    list-style-type: none;
    border-radius: var(--gap-small-large);

    &[data-selected="true"] {
        font-weight: bold;

        &>a {
            background-color: var(--color-white-transparent);
        }
    }
}

.pagination-link {
    display: block;
    border-radius: var(--gap-small-large);
    padding: var(--gap-small-large) var(--gap-medium-small);
    background-color: var(--color-white);
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--color-white);
}

.pagination-link::before {
    overflow: hidden;
    visibility: hidden;
    content: attr(data-title);
    height: 0;
    margin-top: -1px;
    display: block;
    font-weight: bold;
}

.pagination-link:link,
.pagination-link:visited {
    color: var(--color-dark-grey);
}

.pagination-link:hover,
.pagination-link:active {
    font-weight: bold;
    text-decoration: none;
}

.pagination-link:link[data-selected="true"],
.pagination-link:visited[data-selected="true"] {
    font-weight: bold;
    color: var(--color-light-grey);
}

.page-title {
    font-family: 'Merriweather', serif;
    font-size: var(--font-size-large);
    // padding: var(--gap-medium-medium) 0;
    font-weight: bold;
    text-align: center;
    line-height: 9rem;
}

//__
//__FORM
//__
.form {
    margin-bottom: var(--gap-medium-medium);
}

.form-panel {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: var(--gap-medium-medium);
    gap: var(--gap-medium-medium);
}

input[type="text"] {
    color: inherit;

    outline: none;
}

input[type="submit"] {
    cursor: pointer;
    outline: inherit;
    
}

input[type="reset"] {
    cursor: pointer;
    outline: inherit;
}

.form-search {
    display: inline-block;
    border-radius: var(--gap-small-large);
    font-size: var(--font-size-main);
    font-weight: bold;
    padding: var(--gap-small-large) var(--gap-medium-medium);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-color: var(--color-white);
    color: var(--color-black);
    width: 100%;
    border: 2px solid var(--color-white);
    transition: 200ms cubic-bezier(.22, .61, .36, 1);

    &:hover, &:active, &:focus {
        border: 2px solid var(--color-blue);
    }
}

.form-submit {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: var(--gap-small-large);
    font-size: var(--font-size-main);
    font-weight: bold;
    padding: var(--gap-small-large) var(--gap-medium-medium);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    width: min-content;
    // appearance: none;
    // -webkit-appearance: none;
    border: 2px solid var(--color-blue);
    transition: 200ms cubic-bezier(.22, .61, .36, 1);

    &:hover, &:active, &:focus {
        background-color: transparent;
        // background-color: var(--color-white);
        color: var(--color-blue);
    }
}

.form-reset {
    border-radius: var(--gap-small-large);
    font-size: var(--font-size-main);
    font-weight: bold;
    padding: var(--gap-small-large) var(--gap-medium-medium);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--color-white);
    color: var(--color-black);
    width: 100%;
    transition: 200ms cubic-bezier(.22, .61, .36, 1);
    border: 2px solid var(--color-white);

    &:hover {
        border: 2px solid var(--color-dark-grey) 
        // background: var(--color-light-grey);
        // color: var(--color-white);
    }
}