@use './styles/scss/reset.scss'; 
@use './styles/scss/variables.scss';
@use './styles/scss/base.scss';
@use './styles/scss/sections.scss';
@use './styles/scss/results.scss';
@use './styles/scss/card.scss';
@use './styles/scss/pagination.scss';
@use './styles/scss/form.scss';
@use './styles/scss/spinner.scss';
@use './styles/scss/error.scss';
//__RWD-Mobile-First
/* @media screen and (min-width: 1035px) {
    .app {
        grid-template-columns: repeat(12, minmax(60px, 1fr));
    }
    .sidebar {
        grid-column: 1 / 4;
    }
    .results {
        grid-column: 4 / 13;
    }
    // .page-title {
    //     font-size: var(--font-size-large);
    // }
} */

@media screen and (min-width: 1520px) {
    .app {
        grid-template-columns: repeat(12, minmax(100px, 1fr));
    }
    .sidebar {
        grid-column: 1 / 3;
    }
    .results {
        grid-column: 3 / 13;
    }
}