body {
    min-height: 100vh;
    width: 100%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: var(--color-black);
    background: 
        linear-gradient(160deg,
        var(--color-paper-end) 0%,
        var(--color-paper-start) 5%,
        var(--color-paper-start)95%,
        var(--color-paper-end) 100%);
}

.app {
    
    display: grid;
    padding: var(--gap-medium-large);
    grid-template-columns: repeat(3, minmax(20px, 1fr));
    grid-template-rows: auto 100% auto;
    gap: var(--gap-medium-large);
    margin: 0 auto;
    min-height: 100vh;
}

.sidebar {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}