body {
    min-height: 100vh;
    width: 100%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: var(--color-black);
    background:
        linear-gradient(30deg,
        var(--color-paper-shadow) 0%,
        var(--color-paper-base) 5%,
        var(--color-paper-base)95%,
        var(--color-paper-shadow) 100%);
}

.app {
    display: grid;
    padding: var(--gap-medium-large);
    grid-template-columns: repeat(3, minmax(20px, 1fr));
    grid-template-rows: minmax(min-content, 20px);
    gap: var(--gap-medium-large);
    margin: 0 auto;
    min-height: 100vh;
}

.sidebar {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.page-title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-family: 'Merriweather', serif;
    font-size: clamp(var(--font-size-medium-small),
        var(--font-size-page-title-dynamic),
        var(--font-size-large));
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    letter-spacing: 0.03em;
}