.results {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-medium-large);
}

.page-title {
    font-family: 'Merriweather', serif;
    font-size: clamp(
        var(--font-size-medium-small), 
        var(--font-size-page-title-dynamic), 
        var(--font-size-large)
    );
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
}

.articles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap-medium-large);
}

.no-results {
    font-size: var(--font-size-medium);
    grid-column: 1/3;
    line-height: 5rem; 
    text-align: center;
    border: 2px solid var(--color-dark-grey);
    background-color: var(--color-white);
    padding: 0 var(--gap-large-medium);
    border-radius: 20px;
    grid-column: 1 / span 2;
    margin: 0 auto;
}
