:root {
    --color-white: rgb(255, 255, 255);
    --color-white-transparent: rgb(255, 255, 255, 0.4);
    --color-paper-start: #f2edec;
    --color-paper-end: #E6DDDB;
    --color-blue: #052962;
    --color-black: #31353b;
    --color-dark-grey: #444950;
    --color-light-grey: #79808b;
    --font-size-small: 14px;
    --font-size-main: 16px;
    --font-size-medium-small: 22px;
    --font-size-medium-medium: 28px;
    --font-size-medium-large: 42px;
    --font-size-page-title-dynamic: 3.333vw;
    --font-size-large: 64px;
    --gap-small-small: 5px;
    --gap-small-large: 10px;
    --gap-medium-small: 15px;
    --gap-medium-medium: 20px;
    --gap-medium-large: 24px;
    --gap-large-small: 40px;
    --gap-large-medium: 60px;
    --gap-large-large: 100px;
}